
                                        <div class="row sectioncontentelement acceptencesectioncontentelement"
                                            data-id={{data.id}}>
                                            <div class="elements acceptenceelements">
                                                <div class="card" data-id={{data.id}} data-url={{data.url}}>
                                                    <div class="card-body">
                                                        <h5 class="card-title"><a class="cardtitleanchor" href={{data.url}}
                                                                target="_blank">{{data.title}}</a></h5>
                                                        <p class="card-text employer">
                                                            <i class="far fa-building"></i>
                                                            {{data.organisation}}</p>
                                                        <p class="card-text location">
                                                            <i class="fas fa-map-marker-alt"></i>

                                                            {{data.location}},

                                                        </p>
                                                        <p class="card-text showmore"><button
                                                                class="showmorelocation"><i
                                                                    class="fas fa-ellipsis-h"></i></button></i></p>
                                                        <p class="card-text description"><i class="fas fa-tasks"></i>
                                                            {{data.description}}
                                                        </p>
                                                        <p class="card-text showmore"><button
                                                                class="showmoredescriton"><i
                                                                    class="fas fa-ellipsis-h"></i></button></i></p>
                                                        <a href="#" class="btn delete" data-id={{data.id}}>Delete</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  
