<div class="applicationCard" data-id={{data.id}}>
    <a href={{data.url}} class="ApositinTitle" target="_blank">{{data.title}}</a>
    <div class="AcompanyName"><i class="far fa-building buidingIcon"></i>{{data.organisation}}</div>
    <div class="ApositionLocation"><i class="fas fa-map-marker-alt mapmarkerIcon"></i>{{data.location}}</div>
    <div class="ApositionDescription">
        {{data.description}}
    </div>
    
    <div class="AdeleteNextDiv">
        <button class="Adelete" data-id={{data.id}}><i class="far fa-trash-alt"></i></button>
        <button class="Anext" data-id={{data.id}}><i class="fas fa-arrow-right"></i></button>
    </div>
</div>

                                       