<div class="approvalCard" data-id={{data.id}}>
    <a href={{data.url}} class="APpositinTitle">{{data.title}}</a>
    <div class="APcompanyName"><i class="far fa-building buidingIcon"></i>{{data.organisation}}</div>
    <div class="APpositionLocation"><i class="fas fa-map-marker-alt mapmarkerIcon"></i>{{data.location}}</div>
    <div class="APpositionDescription">
        {{data.description}}
    </div>
    <button class="APnext" data-id={{data.id}}><i class="fas fa-arrow-right"></i></button>
</div>