<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/styles/Home.css">
    <title>Dashboard</title>
</head>

<body>

    <div id="container">
        <div id="navbar">
            <img src="/images/logoJH.png" alt="" id="logo">
            <img src={{user.image}} alt="" id="profilePicture" data-display="hidden">
            <div id="dropdownMenu">
                <img src={{user.image}} alt="" id="profilePictueDD">
                <div id=usernameDD>{{user.name}}</div>
                <button id="toolsDD">Tools</button>
                <button id="settingsDD">Settings</button>
                <a id="logoutDD" href="/logout">log Out</a>
            </div>
        </div>
        <div id="maincontainer">
            <div id="searchSection">
                <button id="extdSearch">
                    <i class="fas fa-expand-alt"></i>
                </button>
                <div id="searchSectionTitle">
                    <img src="/images/search19.png" alt="" id="seachIcon">
                    <div id="search">Search</div>
                </div>
                <div id="searchbar">
                    <input type="text" id="searchInputKW" autocomplete="off" placeholder="Keyword">
                    <input type="text" id="searchInputLocation" autocomplete="off" placeholder="Location">
                    <button id="searchbtn"><i class="fas fa-search"></i></button>
                </div>
                <div id="searchSectionBody">
                    <div id="loading">
                        <img src="/images/gif-loading.gif" alt="" id="loadingImg">
                    </div>
                </div>
            </div>
            <div id="wishlistSection">
                <button id="extdwishlist">
                    <i class="fas fa-expand-alt"></i>
                </button>
                <div id="wishlistSectionTitle">
                    <img src="/images/wishlist.png" alt="" id="wishlistIcon">
                    <div id="wishlist">Wishlist</div>

                </div>
                <div id="addTowishlist"><i class="fas fa-plus"></i></div>
                <div id="wishlistSectionBody">
                    {{#if dataWishlist}}
                    {{#each dataWishlist}}
                    <div class="wishlistCard" data-id={{id}}>
                        <a href={{url}} class="WCpositinTitle" target="_blank">{{title}}</a>
                        <div class="WCcompanyName"><i class="far fa-building buidingIcon"></i>{{employer}}
                        </div>
                        <div class="WCpositionLocation"><i class="fas fa-map-marker-alt mapmarkerIcon"></i>{{location}}
                        </div>
                        <div class="WCpositionDescription">
                            {{description}}
                        </div>
                        <div class="WdeleteNextDiv">
                            <button class="WCdelete" data-id={{id}}><i class="far fa-trash-alt"></i></button>
                            <button class="WCnext" data-id={{id}}><i class="fas fa-arrow-right"></i></button>
                        </div>

                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
            <div id="applicationProgressSection">
                <button id="extdprogress">
                    <i class="fas fa-expand-alt"></i>
                </button>
                <div id="progressSectionTitle">
                    <img src="/images/progress.png" alt="" id="progressIcon">
                    <div id="progress">Application Progress</div>
                </div>
                <div id="progressNavbar">
                    <div id="application">
                        <i class="far fa-file-alt" title="Jobs you applied for"></i>
                    </div>
                    <div id="interview" title="Jobs for which you are interviewing">
                        <i class="fas fa-user-friends"></i>
                    </div>
                    <div id="approval" title="Jobs for which you received an offer">
                        <i class="far fa-handshake"></i>
                    </div>
                </div>
                <div id="applicationBody">
                    {{#if dataApplication}}
                    {{#each dataApplication}}
                    <div class="applicationCard" data-id={{id}}>
                        <a href={{url}} class="ApositinTitle" target="_blank">{{title}}</a>
                        <div class="AcompanyName"><i class="far fa-building buidingIcon"></i>{{employer}}</div>
                        <div class="ApositionLocation"><i class="fas fa-map-marker-alt mapmarkerIcon"></i>{{location}}
                        </div>
                        <div class="ApositionDescription">
                            {{description}}
                        </div>
        

                        <div class="AdeleteNextDiv">
                            <button class="Adelete" data-id={{id}}><i class="far fa-trash-alt"></i></button>
                            <button class="Anext" data-id={{id}}><i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
                <div id="interviewBody">
                    {{#if dataInterview}}
                    {{#each dataInterview}}
                    <div class="interviewCard" data-id={{id}}>
                        <a href={{url}} class="IpositinTitle" target="_blank">{{title}}</a>
                        <div class="IcompanyName"><i class="far fa-building buidingIcon"></i>{{employer}}</div>
                        <div class="IpositionLocation"><i class="fas fa-map-marker-alt mapmarkerIcon"></i>{{location}}
                        </div>
                        <div class="IpositionDescription">
                            {{description}}
                        </div>
                        <div class="IinterviewTime">
                            <input type="datetime-local" class="meeting-time"
                            name="meeting-time" value={{reminder}}
                            >
                        <button class="editDateTime" data-id={{id}}><i class="editDTIcon far fa-edit" data-id={{id}}></i></button>
                        
                        </div>
                        <div class="IdeleteNextDiv">
                            <button class="Idelete" data-id={{id}}><i class="far fa-trash-alt"></i></button>
                            <button class="Inext" data-id={{id}}><i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}

                </div>
                <div id="approvalBody">
                    {{#if dataApproval}}
                    {{#each dataApproval}}
                    <div class="approvalCard" data-id={{id}}>
                        <a href='{{data.url}}' class="APpositinTitle" target="_blank">{{title}}</a>
                        <div class="APcompanyName"><i class="far fa-building buidingIcon"></i>{{employer}}
                        </div>
                        <div class="APpositionLocation"><i
                                class="fas fa-map-marker-alt mapmarkerIcon"></i>{{location}}</div>
                        <div class="APpositionDescription">
                            {{description}}
                        </div>

                        <div class="APdeleteNextDiv">
                            <button class="APdelete" data-id={{id}}><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div id="toolsModal">
        <div id="toolModalCard">
            <div id=toolsModalTitle>Tools</div>
            <button id="closeTools">
                <i class="fas fa-times"></i>
            </button>
            <div id="toolModalBody">
                <div id="linkedinInputLabel">
                    Linkedin
                </div>
                <a href="{{user.linkedin}}" id="userLinkedin" target="_blank">{{user.linkedin}}</a>
                <div id="linkedinInputDiv">
                    <input type="text" name="" id="linkedinInput" placeholder="Enter linkedin address">
                    <button id="linkedinSubmit"><i class="far fa-edit"></i></button>
                </div>
                <div id="githubInputLabel">
                    </i> Github
                </div>

                <a href='{{user.github}}' id="userGithub" target="_blank">{{user.github}}</a>

                <div id="githubInputDiv">
                    <input type="text" name="github" id="githubInput" placeholder="Enter github address">
                    <button id="githubSubmit"><i class="far fa-edit"></i></button>
                </div>
                <div id="WebsiteInputLabel">
                    Website
                </div>

                <a href="{{user.portfolio}}" id="userWebsite" target="_blank">{{user.portfolio}}</a>

                <div id="linkedinInputDiv">
                    <input type="text" name="website" id="websiteInput" placeholder="Enter website address">
                    <button id="websiteSubmit"><i class="far fa-edit"></i></button>
                </div>
                <div id='resumeInputLabel'>
                    Resume
                </div>

                <a href="{{user.resume}}" id="userResume" target="_blank">resume</a>

                <div id="resumeInputDiv">
                    <form enctype="multipart/form-data" action="/mainpage/editresume" method="POST"
                        id="resumeuploadform">
                        <input type="file" name="resumename" id="resumename">
                    </form>
                </div>

            </div>
        </div>

    </div>
    <div id="settingModal">
        <div id="settingsModalCard">
            <div id=settingModalTitle>Settings</div>
            <button id="closeSetting">
                <i class="fas fa-times"></i>
            </button>
            <div id="settingModalContent">
                <div id="settingProfilePictureLabel">
                    Profile Picture
                </div>

                <img src={{user.image}} alt="userProfilepicture" id="userProfilepicture">

                <form class="uploadImage" enctype="multipart/form-data" action="/mainpage/editimage" method="POST"
                    id="imageuploadform">
                    <input type="file" name="settingsimagename" id="imagename">
                </form>

                <div id="usernameInputlabel">
                    Username
                </div>
                <div id="userUsername">
                    {{user.name}}
                </div>
                <div id="usernameInputDiv">
                    <input type="text" name="" id="settingsUsernameInput" placeholder="Enter new username">
                    <button id="editUsername"><i class="far fa-edit"></i></button>
                </div>
                <div id="emailInputLabel">
                    Email
                </div>
                <div id="userEmail">
                    {{user.email}}
                </div>
                <div id="emailInputDiv">
                    <input type="text" name="" id="settingsEmailInput" placeholder="Enter new email">
                    <button id="editemail"><i class="far fa-edit"></i></button>
                </div>
                <div id="usernameInputlabel">
                    Password
                </div>

                <p id="msgsettingpsw"></p>

                <div id="passwordInputDiv">
                    <input type="text" name="" id="settingsPasswordInput" placeholder="Enter new password">
                    <button id="editpassword"><i class="far fa-edit"></i></button>
                </div>
            </div>

        </div>
    </div>
    <div id="addWishlistModal">
        <div id="ADModalCard">
            <div id=addwishlistModalTitle>Add New Position</div>
            <button id="closeAddwishlist">
                <i class="fas fa-times"></i>
            </button>
            <div id="addWishlistModalContent">
                <input type="text" id="AWpositionName" placeholder="Job Title">
                <input type="text" id="AWurl" placeholder="URL">
                <input type="text" id="AWcompanyName" placeholder="Company Name">
                <input type="text" id="AWjobLocation" placeholder="Job Location">
                <input type="text" id="AWjobdescription" placeholder="Job Description">
                <button id="SubmitWishlist">Add</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
        type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js"></script>
    <script src="/js/home.js"></script>
</body>