{{#if cardarr}}

{{#each cardarr}}
    <div class="row sectioncontentelement searchsectioncontentelement">
    <div class="elements searchelements ">
        <div class="card" data-id={{id}} data-url={{url}}>
            <div class="card-body">
                <h5 class="card-title"><a class="cardtitleanchor" href={{url}} target="_blank">{{title}}</a></h5>
                <p class="card-text employer">
                    <i class="far fa-building"></i>
                    {{organisation}}</p>
                <p class="card-text location">
                    <i class="fas fa-map-marker-alt"></i>
                    
                    {{location}},
                    
                </p>
                <p class="card-text showmore"><button class="showmorelocation"><i
                            class="fas fa-ellipsis-h"></i></button></i></p>
                <p class="card-text description"><i class="fas fa-tasks"></i> {{description}}</p>
                <p class="card-text showmore"><button class="showmoredescriton"><i
                            class="fas fa-ellipsis-h"></i></button></i></p>
                <a href="#" class="btn save" data-id={{id}}>Save</a>
                {{!-- <a href={{url}} class="btn apply" target="_blank">Apply</a> --}}

            </div>
        </div>
    </div>
</div>

{{/each}}
<div class="row sectioncontentelement searchsectioncontentelement showmorerow">
<div class="elements">

    <button class="btn" id="searchshowmore"><i class="fas fa-angle-down"></i></button>
</div>
</div>
{{else}}
        <p class="noresaultfnound">No resaults found</p>
{{/if}}