{{#if cardarr}}

{{#each cardarr}}
 <div class="searchResaultCard" data-id={{data.id}}>
    <a href={{data.url}} class="SRCpositinTitle">{{data.title}}</a>
    <div class="SRCcompanyName"><i class="far fa-building buidingIcon"></i>{{data.organisation}}</div>
    <div class="SRCpositionLocation"><i class="fas fa-map-marker-alt mapmarkerIcon"></i>{{data.location}}</div>
    <div class="SRCpositionDescription">
        {{data.description}}
    </div>
    <button class="SRCnext" data-id={{data.id}}><i class="fas fa-arrow-right"></i></button>
</div>


{{/each}}

{{else}}
        <p class="noresaultfnound">No resaults found</p>
{{/if}}